<h1>Here are the things!</h1>

{{#each model as |thing|}}
  <p>{{thing.title}}</p>
{{/each}}

<!-- <hr/>

<div>
  <h2>Make a new thing!</h2>
  <form {{action 'makeThing'}}>
    <label for="thing-name">Name</label>
    {{input type='text' value=thingName id='thing-name'}}

    <div>
      <button>Make</button>
    </div>
  </form>
</div> -->
